PORT=3000

STORAGE_PROVIDER=local

MAX_FILE_SIZE_MB=100

# Local
LOCAL_STORAGE_PATH=./uploads

# NFS (must be mounted by OS beforehand)
NFS_STORAGE_PATH=/mnt/app-files

# Google Drive
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_APPLICATION_CREDENTIALS=
